<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>http://18.234.38.208:8000</key>
			<string></string>
			<key>http://18.234.38.208:8000/api/auth/login</key>
			<string></string>
			<key>18.234.38.208:8000api/auth/login</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
